* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0b0b;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-bottom: 1px solid #222;
}

.logo {
  color: #00e5ff;
  font-weight: bold;
}

.logo span {
  color: #aaa;
  font-size: 14px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: #ccc;
  text-decoration: none;
}

.navbar a:hover {
  color: #00e5ff;
}

/* HERO */
.hero {
  display: flex;
  padding: 80px 50px;
  gap: 50px;
  align-items: center;
}

.hero-left img {
  width: 260px;
  border-radius: 50%;
  border: 4px solid #00e5ff;
}

.hero-right h1 span {
  color: #00e5ff;
}

.badges span {
  border: 1px solid #00e5ff;
  padding: 6px 14px;
  border-radius: 20px;
  margin: 5px;
  display: inline-block;
}

.info-cards {
  margin-top: 20px;
}

.card {
  background: #111;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* SECTIONS */
section {
  padding: 60px 50px;
}

h2 {
  color: #00e5ff;
  margin-bottom: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.box {
  background: #111;
  padding: 15px;
  border-radius: 10px;
}

/* PROJECTS */
.project {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.project a {
  color: #00e5ff;
  text-decoration: none;
}

/* CONTACT */
.links a {
  margin-right: 15px;
  color: #00e5ff;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #222;
  color: #777;
}
